body {
    background: black;
}
.article-grid {
    text-align: center;
}
.card-title {
    text-align: center;
}
.card-content{
    background: white;
    color: black;
}
/* .col {
    background-color: red;
} */
.nav-wrapper {
    background-color: #A71930;
}
.card-content{
    background-color: #A5ACAF;
}
.brand-logo img {
    height: 63.5px;
    width: auto;
}
@media (max-width: 600px) {
    .brand-logo img {
      height: 55.5px;
    }
  }